# Virtual Environment
venv/
ENV/
env/
*.vscode/

# Database
*.sqlite3

# Python cache
__pycache__/
.ruff_cache/
*.pytest_cache/
*.py[cod]

# Static files (if you use collectstatic)
staticfiles/

# Media files (user uploads)
media/

# Large Media
*.mov
video/

.env
*.log
__pycache__/
db.sqlite3
word_vault_analytics.duckdb