.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }

.text-sm { font-size: 0.875rem }
.text-md { font-size: 1rem }
.text-lg { font-size: 1.25rem }
.text-xl { font-size: 1.5rem }